@import 'tailwindcss';
@plugin '@tailwindcss/typography';

html {
  scroll-behavior: smooth;
}

* {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
}

span {
  font-family: inherit;
  font-weight: inherit;
}

.bgGrid {
  background-size: 40px 40px;
  background-image: 
    linear-gradient(to right, gray 1px, transparent 1px),
    linear-gradient(to bottom, gray 1px, transparent 1px);
}